<!DOCTYPE html>

<html ng-app="concertApp">

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cosmo/bootstrap.min.css">
	<link href="main.css" type="text/css" rel="stylesheet">
	<title>Icelandic Concerts</title>
</head>

<body ng-controller="concertController">


<!-- JUMBOTRON HEADER -->
	<div class="jumbotron">
		<div class="transbox">
			<h1>Icelandic Concerts<br><small>a blend of harmony and ambiance</small></h1>
		</div>
	</div>


<!-- CONCERT LISTING -->
	<div class="container">
		
		<!-- SEARCH BAR -->
		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		<input type="text" placeholder="Search concerts" ng-model="search">

		<div class="row">
			
			<div class="col-sm-8">
				<h1>Can't Miss Concerts</h1>
				<div class="col-lg-6 col-sm-9" ng-repeat="concert in concerts | filter: search | orderBy: date | limitTo: 22">
					<div class="media panel panel-default">
					  <div class="media-body panel-heading">
					    <h4 class="media-heading panel-title">{{concert.userGroupName}}</h4>
					  </div>
					  <div class="panel-body">
						  <div class="media-left">
						      <img class="media-object" ng-src="{{concert.imageSource}}" alt="Concert Image">
						  </div>  
				    	<p>{{concert.dateOfShow | date: "EEEE, d MMM  yyyy @ H:mm"}}</p>
			        	<p>{{concert.eventHallName}}</p>
					  </div>
					</div>
				</div>
			</div>

<!-- RIDE SHARE LISTING -->
			<div class="col-sm-4 well">
				<div>
					<h1>Share a ride</h1>
					<div ng-repeat="carpool in carpools | limitTo: 20">
						<p><strong>From: </strong>{{carpool.from}}</p>
						<p><strong>To: </strong>{{carpool.to}}</p>
						<p><strong>When: </strong>{{carpool.date | date: 'EEEE, d MMM  yyyy'}} @ {{carpool.time}}</p>
						<a target="_blank" href="{{carpool.link}}">Click to request a ride</a>
						<hr>
					</div>
				</div>
			</div>
		</div><!-- CLOSE ROW -->
	</div><!-- CLOSE CONTAINER -->


<!-- FOOTER -->
	<footer>&#169 <script language="javascript" type="text/javascript">
		var today = new Date()
		var year = today.getFullYear()
		document.write(year)
	</script> Stephanie Stamm</footer>


<!-- SCRIPTS -->
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="app.js"></script>

</body>
</html>	